body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
table {
    border-style: solid;
}
.student {
    padding: 25px;
    background-color: whitesmoke;
    border-style: solid;
}
.note {
    background-color: whitesmoke;
}
.final {
    background-color: rgb(15, 15, 100);
    color: white;
}
.approved {
    padding:50px;
    background-color: darkgreen;
    color: white;
}
.desapproved{
    padding:50px;
    background-color: darkred;
    color: white;
}